<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KineticWolApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KineticWOL"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />

        <activity
            android:name=".actions.WakeDeviceActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.KineticWOL.Transparent">
            <intent-filter>
                <action android:name="dev.neikon.kineticwol.action.WAKE_DEVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actions.QuickTileDevicePickerActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.KineticWOL.Transparent" />

        <service
            android:name=".actions.WakeQuickTileService"
            android:exported="true"
            android:icon="@drawable/ic_quick_tile_wake"
            android:label="@string/quick_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KineticWOL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
